:root {
    --primary-moderate-blue:  hsl(238, 40%, 52%);
    --primary-soft-red:  hsl(358, 79%, 66%);
    --primary-light-grayish-blue:  hsl(239, 57%, 85%);
    --primary-pale-red:  hsl(357, 100%, 86%);
    --neutral-dark-blue:  hsl(212, 24%, 26%);
    --neutral-grayish-blue:  hsl(211, 10%, 45%);
    --neutral-light-gray:  hsl(223, 19%, 93%);
    --neutral-very-light-gray:  hsl(228, 33%, 97%);
    --neutral-white:  hsl(0, 0%, 100%);
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    background-color: var(--neutral-light-gray);
}

figure {
    display: inline-block;
}

.list-message {
    list-style: none;
    padding-left: 0;
}

.message-item {
    box-sizing: border-box;
    background-color: var(--white);
    width: 90%;
    margin: auto;
}

.message-item + .message-item {
    margin-top: 2rem;
}

.message-item .list-message {
    margin-top: 2rem;
}

.message-item-container {
    border-radius: 6px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--neutral-white);
}

.message-body {
    grid-column: 1 / span 2;
}

.message-header {
    display: inline-flex;
    align-items: center;
    gap: .75rem;
}

.user-figure {
    margin: 0;
}

.user-figure img {
    vertical-align: middle;
}

.username {
    font-weight: 700;
    color: var(--dark-blue);
}

.time-ago, .message-txt {
    color: var(--neutral-grayish-blue);
}

.message-item-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rank {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--neutral-very-light-gray);
    padding: .5rem;
    border-radius: 6px;
}

.button-plus, .button-minus {
    background-color: transparent;
    border: none;
    background-color: transparent;
    border: none;
}

.icon-plus {
    color: var(--grayish-blue);
    vertical-align: middle;
}

.count-rank {
    color: var(--primary-moderate-blue);
    /* color: var(--grayish-blue); */
    user-select: none;
    font-weight: 700;
}

.icon-minus {
    color: var(--grayish-blue);
    vertical-align: middle;
}

.reply {
    user-select: none;
    float: right;
    cursor: pointer;
    color: var(--primary-moderate-blue);
}

@media screen and (min-width: 768px) {
    .messages-section {
        max-width: 768px;
        margin: 3rem auto;
    }
    
    .message-item-container {
        position: relative;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        gap: 1rem;
        align-items: stretch;
    }

    .message-item-option {
        align-items: flex-start;
        width: auto;
    }
    
    .rank {
        flex-direction: column;
        justify-content: space-between;
        padding: .25rem .75rem;
    }

    .reply-container {
        height: 3rem;
        line-height: 3rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        left: unset;
    }
}
